## File input
## read docker logs with tag=docker.container
{{range $key, $value := .}}
<source>
type tail
format json
time_key time
time_format %Y-%m-%dT%T.%LZ
path /var/lib/docker/containers/{{ $value.ID }}/{{ $value.ID }}-json.log
pos_file /var/lib/docker/containers/{{ $value.ID }}/{{ $value.ID }}-json.log.pos
tag docker.container.{{ $value.Name }}
# tag docker.container.{{printf "%.*s" 12 $value.ID}}
rotate_wait 5
read_from_head true
</source>
{{end}}
## Flush to elasticsearch
{{range $key, $value := .}}
<match docker.container.{{ $value.Name }}>
type elasticsearch
host es1
port 9200
index_name fluentd
type_name {{ $value.Name }}
logstash_format true
buffer_type memory
request_timeout 15s
flush_interval 3s
retry_limit 17
retry_wait 1s
num_threads 1
</match>
{{end}}
