{{ range $host, $containers := groupByMulti $ "Env.VIRTUAL_HOST" "," }}

server {
        gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

        server_name {{ $host }};
        proxy_buffering off;
        error_log /proc/self/fd/2;
        access_log /proc/self/fd/1;

{{ range $index, $value := $containers }}
{{ $location := $value.Env.VIRTUAL_PATH }}
{{ $address := index $value.Addresses 0 }}
# {{$location}}

        location /{{$location}} {
                proxy_pass http://{{ $address.IP }}:{{ $address.Port }};

                # HTTP 1.1 support
                proxy_http_version 1.1;
                proxy_set_header Connection "";
        }
{{ end }}

}

{{ end }}
